{
    "env": {
        "jest": true,
        "node": true
    },
    "extends": [
        "airbnb-base",
        "prettier",
        "prettier/standard"
    ],
    "globals": {
        "void": true
    },
    "plugins": [
        "jest",
        "jsdoc",
        "module-resolver",
        "prettier",
        "unicorn"
    ],
    "root": true,
    "rules": {
        "camelcase": "error",
        "comma-dangle": "off",
        "eol-last": [
            "error",
            "always"
        ],
        "import/default": "error",
        "import/first": "error",
        "import/named": "error",
        "import/newline-after-import": "error",
        "import/no-absolute-path": "error",
        "import/no-cycle": "error",
        "import/no-deprecated": "warn",
        "import/no-dynamic-require": "error",
        "import/no-duplicates": "error",
        "import/no-mutable-exports": "error",
        "import/no-named-as-default": "error",
        "import/no-named-as-default-member": "error",
        "import/no-namespace": "error",
        "import/no-restricted-paths": "error",
        "import/no-self-import": "error",
        "import/no-unresolved": "error",
        "import/no-useless-path-segments": "error",
        "import/order": [
            "error",
            {
                "groups": [
                    "external",
                    "builtin",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "newlines-between": "always"
            }
        ],
        "import/prefer-default-export": "off",
        "jest/lowercase-name": [
            "error",
            {
                "ignore": [
                    "describe"
                ]
            }
        ],
        "jest/no-alias-methods": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/no-jasmine-globals": "error",
        "jest/no-jest-import": "error",
        "jest/no-test-callback": "error",
        "jest/no-test-return-statement": "error",
        "jest/prefer-to-be-null": "error",
        "jest/prefer-to-be-undefined": "error",
        "jest/prefer-to-have-length": "error",
        "jsdoc/check-param-names": "error",
        "jsdoc/check-tag-names": "error",
        "jsdoc/check-types": "error",
        "jsdoc/newline-after-description": "error",
        "jsdoc/no-undefined-types": "error",
        "jsdoc/require-description-complete-sentence": "error",
        "jsdoc/require-hyphen-before-param-description": "error",
        "jsdoc/require-param": "error",
        "jsdoc/require-param-description": "error",
        "jsdoc/require-param-name": "error",
        "jsdoc/require-param-type": "error",
        "jsdoc/require-returns-description": "error",
        "jsdoc/require-returns-type": "error",
        "jsdoc/valid-types": "off",
        "max-lines": [
            "error",
            300
        ],
        "max-nested-callbacks": [
            "error",
            4
        ],
        "max-params": [
            "error",
            3
        ],
        "module-resolver/use-alias": "error",
        "no-await-in-loop": "off",
        "no-buffer-constructor": "error",
        "no-caller": "error",
        "no-console": "off",
        "no-duplicate-imports": "error",
        "no-else-return": "error",
        "no-empty": "error",
        "no-empty-function": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-implicit-coercion": "error",
        "no-magic-numbers": [
            "error",
            {
                "ignore": [
                    -1,
                    0,
                    1
                ],
                "ignoreArrayIndexes": true
            }
        ],
        "no-new": "error",
        "no-restricted-syntax": "off",
        "no-return-assign": "error",
        "no-return-await": "off",
        "no-self-compare": "error",
        "no-shadow": "off",
        "no-tabs": "error",
        "no-template-curly-in-string": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": "off",
        "no-unused-expressions": "error",
        "no-use-before-define": "error",
        "no-useless-call": "error",
        "no-useless-computed-key": "error",
        "no-useless-concat": "error",
        "no-useless-return": "error",
        "no-var": "error",
        "no-void": "error",
        "object-property-newline": "error",
        "prefer-const": "error",
        "prefer-destructuring": "error",
        "prefer-object-spread": "error",
        "prefer-promise-reject-errors": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "prettier/prettier": "error",
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": false
            }
        ],
        "require-await": "error",
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": false,
                    "ClassDeclaration": false,
                    "ArrowFunctionExpression": false,
                    "FunctionExpression": false
                }
            }
        ],
        "unicorn/catch-error-name": [
            "error",
            {
                "name": "error"
            }
        ],
        "unicorn/custom-error-definition": "error",
        "unicorn/error-message": "error",
        "unicorn/escape-case": "error",
        "unicorn/explicit-length-check": "error",
        "unicorn/filename-case": [
            "error",
            {
                "case": "camelCase"
            }
        ],
        "unicorn/import-index": "error",
        "unicorn/new-for-builtins": "error",
        "unicorn/no-abusive-eslint-disable": "error",
        "unicorn/no-array-instanceof": "error",
        "unicorn/no-hex-escape": "error",
        "unicorn/no-new-buffer": "error",
        "unicorn/no-unsafe-regex": "error",
        "unicorn/number-literal-case": "error",
        "unicorn/prefer-exponentiation-operator": "error",
        "unicorn/prefer-spread": "error",
        "unicorn/prefer-starts-ends-with": "error",
        "unicorn/prefer-type-error": "error",
        "unicorn/regex-shorthand": "error",
        "unicorn/throw-new-error": "error"
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}
